.about{
    color: rgb(0, 0, 0);
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    font-family: Times, "Times New Roman", Georgia, serif;
}

.about h2{
    line-height: 2em;
}

.Evrima{
    color: rgb(202, 199, 199);
    font-family: 'EB Garamond', serif;
    text-align: center;
}