
h1{
    text-align: center;
}
.user-data{
    text-align: center;
    margin: 1em;
    padding: 1em;
    border: 1px solid;
    background: rgba(126, 141, 126, 0.3);
    
}

.user-data-value-id{
    font-size: 25px;
    }

.user-data-label{
    margin-left: 750px;
    font-size: 20px;

    width: 300px;
}

.description{
    height: 100px;
}

.profileimg{
    width: 20%;
}

.editpr{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.editpr,h1 {
    color: beige;

}