.card{
    position: relative;
    width: 600px;
    padding:20px;
    max-width: 85vw;
    height: 50vh;
    color: red;
    border-radius: 20px;
    background-size:cover;
    background-position:center;box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.1);
}


.talent{
    margin-top: 10px;
    text-align: center;
    background-color: rgb(0, 68, 255);
   
}

.pro{
    margin-top: 10px;
    text-align: center;
    background-color: rgba(255, 238, 0, 0.911);
   
}

.card>p{   
    padding: 10px;
    position: flex;
    justify-content: space-around;
    bottom:10px;
    color:black;
}

.card-content{
    color: red;
    
}

.tinderCards__cardContainer{
    display:flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipe{
    position: absolute;
}


.btnn button{
    text-align: center;
    padding: 0.5rem;
    background-color: wheat;
    border: none;
    transition: 0.5s;
    margin: 0.5rem;
}

.btnn button:hover {
    background-color: rgb(33, 25, 145);

}

